.paragraphe1{
    background-color: blue;
    color: white;
}
p[class="paragraphe2"]{
    color: brown;
    background-color: chocolate;
}
tbody tr:first-child{
    background-color: antiquewhite;
}
tbody tr:last-child{
    background-color: rgb(95, 56, 7);
}
tbody tr:nth-child(2n){
    background-color: yellow;
}
tbody td:hover{
   /* background-color: red;*/
    color: rgb(20, 250, 150)
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
ol{ list-style: none;
    background-color: blue;
    text-align: center;
}
header ol li {
    display: inline-block;
}
header ol li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 20px;
}
section{
    border-top: 1px solid black;
    border-radius: 10px;
    padding-right: 1px;
    height: 250px;
    overflow: auto;
}
h2{
    text-align: center;
}
p{
    box-shadow: 6px 6px 5px black;
    text-shadow: 3px 3px 2px black;
}

/*header{
    background-image: url(../videos/images/Capture\ 4.PNG);

    /*background-size: cover;*/
    /*background-position: center;
    
    
}
*/
/*body{
    background-image: url(../videos/images/Capture\ 4.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}*/
.containu{ 
    border: 1px solid green;
   /* padding-left: 50px;*/
   width: 350px;
   margin: auto;
   text-align: center;
}
.containeur{
    border: 1px solid black;
   /* border-radius: 5px;*/
    display: flex;
    /*margin: 20px;*/
    flex-direction: row;
    justify-content: space-around;

    
}
.element1{
    border: 1px solid red;
    border-radius: 5px;
    width: 50px;
    margin: auto;
   /* padding: 20px;*/
    
    background-color: red;

}
.element2{
    border: 1px solid green;
    border-radius: 5px;
    width: 50px;
    margin: auto;
   /* padding: 20px;
    text-align: center;*/
    background-color: green;

}
.element3{
    border: 1px solid blue;
    border-radius: 5px;
    width: 50px;
    margin: auto;
   /* padding: 20px;*/
    text-align: center;
    background-color: blue;
    
}